<div class="container">
    <div class="row">
  
      <div class="main">
  
        <h2>Bank Loan Service</h2>
        <div class="login-or">
          <hr class="hr-or">
        </div>
        <h4>Customer</h4>
  
        <form role="form">
          <div class="form-group">
            <label for="inputUsernameEmail">Username</label>
            <input type="text" class="form-control" id="inputUsernameEmail">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword">
          </div>
          <button type="submit" class="btn btn btn-primary">
            Log In
          </button>
        </form>
        <p>Haven't a account? <a class="pull-right" routerLink="/registercustomer" routerLinkActive="active">Sign Up</a></p> 
        <p>Demo <a routerLink="/cusdashboard" routerLinkActive="active">Dashboard</a></p>
      
      </div>
      
    </div>
  </div>