<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bank Loan Sevice</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/view-loan-details" routerLinkActive="active">
            <i class="fa fa-home"></i>
            Home
            </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fa fa-table">
              <!-- <span class="badge badge-danger">11</span> -->
            </i>
            Loan Types
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">
            <i class="fa fa-file">
            </i>
            Request a Loan
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <app-root></app-root>

  <footer>
    <p>All rights reserved.</p>
</footer>