<div class="container">
    <div class="row">
  
      <div class="main">
  
        <h2>Bank Loan Service</h2>
        <div class="login-or">
          <hr class="hr-or">
        </div>
        <h4>Login as a,</h4>

        
        <div class="row">
            
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a routerLink="/customerlogin" routerLinkActive="active" class="btn btn-lg btn-primary btn-block">Customer</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <a routerLink="/adminlogin" routerLinkActive="active" class="btn btn-lg btn-warning btn-block">Admin</a>
            </div>
        </div>
      </div>
      
    </div>
  </div>